<div class="review">
    <h5 class="name">{{this.name}}</h5>
    Department: {{this.department}} <br>
    Average rating: {{this.rating}} <br>
    Reviews:
    {{#each review}}
        <li>
            {{this}}
        </li>
    {{/each}}
    <br>
    Classes: {{this.classes}} <br>
    <a href="/addReview/{{this.name}}/{{this.department}}">Add your own review for {{this.name}}</a>
    <hr>
</div>